__pycache__/
*.py[cod]
*$py.class
*.pyc
*.py~

.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
tags
MANIFEST

.env
.venv
env/
venv/
ENV/

node_modules/

.vscode/
.idea/
*.swp
*.DS_Store
*.comp.js
*debug.log
.aider*
